
$color1:rgb(243, 142, 47);
$color2:rgb(207, 106, 10);
$color3:rgb(238, 187, 111);
$color4:rgb(117, 58, 2);
$color5:rgb(243, 142, 47);
$color6:rgb(224, 130, 42);
$color7:rgb(245, 160, 80);
$color8:rgb(85, 43, 4);
$color9:rgb(0, 0, 0);
$color10:rgb(56, 28, 2);

