
  @media (max-width: 480px) {
    .textheader {
      white-space: nowrap;
      font-size: 70px;
      margin-left: 0vw;
    }
    .nav {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .pie {
      font-size: 20px;
      justify-content: center;
    }
    .posicionIconos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 5vw;
    }
    .elFooter {
      display: flex;
      flex-direction: column;
    }
    .anchoFormulario {
      width: 300px;
    }
    .test {
      display: flex;
      flex-direction: row;
      margin-top: 0%;
      margin-left: 0%;
      margin-right: 0%;
      padding: 0px;
    }

  .articulo {
    width: 50vw;
    margin: 10px;
  }
  .productos{
    width: 90vw;
    padding: 0;
  margin: 4vw;
    }
  }
